body {
  font-family: Arial, Helvetica, sans-serif;
}
#loader,
#error {
  display: none;
}

p {
  margin: 0;
}

.container {
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
}

.input-container {
  width: 100%;
  display: flex;
}

.input-container .question-input {
  width: 75%;
  display: block;
}

.input-container .button {
  width: 25%;
  display: block;
}

.answer-container {
  min-height: 600px;
  height: 600px;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  padding: 20px;
  overflow-y: scroll;
  position: relative;
}

.bot-answer {
  text-align: right;
  width: 50%;
  align-self: end;
  background: cadetblue;
  padding: 10px;
  border-radius: 10px;
  z-index: 2;
  color: #f2f2f2;
  line-height: 1.5;
}

.error {
  background-color: crimson;
  color: white;
}

.user-question {
  background: cornflowerblue;
  width: 50%;
  padding: 10px;
  border-radius: 10px;
  z-index: 2;
  color: #f2f2f2;
  line-height: 1.5;
}

.bot-answer-loader,
.bot-error-loader {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  opacity: 0.6;
}

.user-question,
.bot-answer {
  margin-bottom: 10px;
}
